<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meeting Details</title>
{#    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">#}
{#    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
        function verify(){
            $("#result").empty();
            var meetingid = $("#meetingid").val();
            $.post("/index/meetings/meetingdetail",{meetingid:meetingid,csrfmiddlewaretoken: '{{ csrf_token }}'},function(result){
                    var resultObject = $("#result");
                    resultObject.html(result);
            });

        }
    </script>
{#        <script type="text/javascript">#}
{#        function verify(){#}
{#            var table = $("#pstable");#}
{#            table.hide();#}
{#            var meetingid = $("#meetingid").val();#}
{#            $.post("/index/meetings/meetingdetail",{meetingid:meetingid,csrfmiddlewaretoken: '{{ csrf_token }}'},function(ret){#}
{#                    var obj = eval(ret);#}
{##}
{#			var tbody=$('<tbody></tbody>');#}
{##}
{##}
{#			for(var i=0;i<obj.length;i++){#}
{#				var tr=$('<tr></tr>');#}
{#				tr.append('<td>'+ obj[i]['name'] + '</td>' + '<td>'+ obj[i]['jointime'] + '</td>' + '<td>'+ obj[i]['leavetime'] + '</td>' );#}
{#				tbody.append(tr);#}
{#			}#}
{##}
{#			$('#pstable tbody').replaceWith(tbody);#}
{#            table.show();#}
{#            });#}
{##}
{#        }#}
{#    </script>#}
</head>
<body>
    <br>
    <span style="font-size: 26px; ">Meeting ID:</span><input type="text" id = "meetingid" name="meetingid" style="height:25px;font-size:26px;"><br><br>
{#        <input type="submit" value="Search">#}
    <input type="button" name="btnVerify" style="height:35px;font-size:26px;"  value="Search" onclick="verify()" />
    <br><br>
    <div id="result" style="height:25px;font-size:26px;" x>

    </div>


</body>
</html>